<div class="container-fluid">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-3">
                <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
            </div>
            <div class="col-3">
                <input type="text" formControlName="middleName" class="form-control" placeholder="Middle Name">
            </div>
            <div class="col-3">
                <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
            </div>
            <div class="col-3">
                <input type="text" formControlName="fatherName" class="form-control" placeholder="Father's Name">
            </div>
            <div class="col-3">
                <input type="text" formControlName="motherName" class="form-control" placeholder="Mother's Name">
            </div>
            <div class="col-3">
                <input placeholder="Select DOB" class="textbox-n form-control" type="text" onmouseout="(this.type='text')" onmouseover="(this.type='date')" onkeydown="event.preventDefault()" formControlName="dob">
            </div>
            <div class="col-3">
                <input type="email" formControlName="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-3">
                <input type="number" formControlName="mobile" class="form-control" placeholder="Mobile Number">
            </div>
            <div class="col-3">
                <select formControlName="highestQualification" class="form-control">
                    <option value="" disabled selected>Select Highest Qualification</option>
                    <option *ngFor="let e of hqsdd" [value]=e>{{e}}</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-control" (change)="onEmpType($event)">
                    <option value="" disabled selected>Select Emplopyment Type</option>
                    <option *ngFor="let et of employmentTypes" [value]=et._id>{{et.name}}</option>
                </select>
            </div>
            <div class="col-3" *ngIf="employmentSubTypes.length>0">
                <select class="form-control" formControlName="employmentsubtype">
                    <option value="" disabled selected>Select Emplopyment Sub Type</option>
                    <option *ngFor="let est of employmentSubTypes" [value]=est._id>{{est.name}}</option>
                </select>
            </div>
        </div>
        <div formGroupName="address" class="row">
            <div class="col-3">
                <input type="number" formControlName="pin" class="form-control" placeholder="Pin Code" (keyup)="onPin($event)">
            </div>
            <div class="col-3" *ngIf="isValidPin">
                <input type="text" readonly formControlName="state" class="form-control" placeholder="State">
            </div>
            <div class="col-3" *ngIf="isValidPin">
                <input type="text" readonly formControlName="district" class="form-control" placeholder="District">
            </div>
            <div class="col-3" *ngIf="isValidPin">
                <input type="text" readonly formControlName="circle" class="form-control" placeholder="Circle">
            </div>
            <div class="col-4" *ngIf="isValidPin">
                <input type="text" formControlName="line1" class="form-control" placeholder="Addr Line 1">
            </div>
            <div class="col-4" *ngIf="isValidPin">
                <input type="text" formControlName="line2" class="form-control" placeholder="Addr Line 2">
            </div>
            <div class="col-4" *ngIf="isValidPin">
                <input type="text" formControlName="landMark" class="form-control" placeholder="Land Mark">
            </div>
        </div>
        <div class="mt-5" formArrayName="qualifications">
            <div class="row">
                <div class="col-9">Qualifications</div>
                <div class="col-3">
                    <button (click)="addQualification()">Add</button>
                </div>
            </div>
            <div class="row" *ngFor="let q of qualifications().controls; index as i" [formGroupName]="i" class="row">
                <div class="col-3">
                    <input type="text" formControlName="school" class="form-control" placeholder="School">
                </div>
                <div class="col-2">
                    <input type="text" formControlName="degree" class="form-control" placeholder="Degree">
                </div>
                <div class="col-2">
                    <input type="text" formControlName="field" class="form-control" placeholder="Field">
                </div>
                <div class="col-2">
                    <input type="text" formControlName="startYear" class="form-control" placeholder="Start Year">
                </div>
                <div class="col-2">
                    <input type="text" formControlName="endYear" class="form-control" placeholder="End Year">
                </div>
                <div class="col-1" *ngIf="i!=0">
                    <button (click)="removeQualification(i)" class="form-control">Remove</button>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <label style="margin-top: 30px;"> Photo Id</label>
            </div>
            <div class="col-3">
                <input type="text" formControlName="photoid_proof" class="form-control" placeholder="Photoid Proof">
            </div>
            <div class="col-3">
                <input type="file" class="form-control" accept='image/*' (change)="onFileUpload($event.target.files,'photoid_proof')">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <label style="margin-top: 30px;"> Address Id</label>
            </div>
            <div class="col-3">
                <input type="text" formControlName="addressid_proof" class="form-control" placeholder="AddressId Proof">
            </div>
            <div class="col-3">
                <input type="file" class="form-control" accept='image/*' (change)="onFileUpload($event.target.files,'addressid_proof')">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <label style="margin-top: 30px;"> Image</label>
            </div>
            <div class="col-3">
                <input type="file" class="form-control" accept='image/*' (change)="onFileUpload($event.target.files,'image')">
            </div>
            <div class="col-3">
                <label style="margin-top: 30px;"> CV</label>
            </div>
            <div class="col-3">
                <input type="file" class="form-control" accept=".doc, .docx,.pdf" (change)="onFileUpload($event.target.files,'cv')">
            </div>
        </div>
        <div class="row justify-content-center m-5">
            <button type="submit" [disabled]="!this.form.valid||!photoid_proof||!addressid_proof||!image">Submit</button>
        </div>
    </form>
</div>