/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto',  sans-serif !important; }
.appbody{
    overflow: auto;
}
.cstbtn{
    cursor: pointer;
    /* width: 100%; */
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
.cstbtn:hover{
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.pointer{
    cursor: pointer;
}